#video {
  object-fit: cover;
}

#loading {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  background-color: #fffafc;
}
.bottom-bar {
  bottom: 0;
  width: 100%;
  height: 60px; /* Adjust this as needed */
  background-color: #333; /* Adjust this as needed */
  display: flex;
  justify-content: center;
  align-items: center;
}

.picture-button {
  font-size: 16px; /* Adjust this as needed */
  padding: 10px 20px; /* Adjust this as needed */
  background-color: #007bff; /* Adjust this as needed */
  color: #fff; /* Adjust this as needed */
  border: none;
  border-radius: 5px; /* Adjust this as needed */
  cursor: pointer;
}

.camera-button {
  width: 80px;
  height: 79px;
  border-radius: 50%;
  /*background: #00000070;*/
  background: #00000000;
  border: 3px solid white;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.inner-circle {
  width: 67px;
  height: 67px;
  background: white;
  border-radius: 50%;
  border: 0;
}

.picture-button:hover {
  background-color: #0056b3; /* Adjust this as needed */
}
.fixed-footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  /*background-color: #00000070;*/
  background: #00000000;
  color: white;
  text-align: center;
  padding: 10px 0;
  padding-bottom: 2rem;
}   

.background-transparent{
    background-color: #000000c9;
}

.title-text{
    color: white;
    font-size: 18px;
}

.loader-container {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 0;
    height: 0;
    border-radius: 50%;
    background-color: #fffafc;
    overflow: hidden;
    animation: expand 2s forwards;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
}

.loader-gif {
    width: 400px;
    height: 400px;
    object-fit: contain;
}

@keyframes expand {
    0% {
        width: 0;
        height: 0;
    }
    40% {
        width: 50vh;
        height: 50vh;
    }
    60% {
        width: 50vh;
        height: 50vh;
    }
    100% {
        width: 200vh;
        height: 200vh;
    }
}